body {
    background-color: aquamarine;
    font-family: bangers;
    font-size: 66px;
}

p {
    font-family: Tapestry;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-end: auto;
    grid-column-gap: 50px;
}

#snare {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;

}

#closed_high_hat {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#cowbell {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#crash {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#floor_tom {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#kick {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#low_tom {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#open_high {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#ride {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}

#tom_high {
    border: 10px solid black;
    border-radius: 4px;
    width: 69px;
    text-align: center;
    margin: 6px;
}